--- 
import Header from '@components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
const header_sections = {
	sections: [
		{
			title: 'Home',
			url: '/',
		},
		{
			title: 'Software',
			url: '/software',
		},
		{
			title: 'Security',
			url: '/security',
		},
		{
			title: 'Workflow',
			url: '/workflow',
		},
		{
			title: 'Blog',
			url: '/blog',
		},
	],
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header sections={header_sections.sections}/>
		<slot />
	</body>
</html>