---
// components
import Layout from '../../layouts/Layout.astro'
import Search from '../../components/blog/Search/Search.astro'
---

<Layout title='Blog' headerColor='bg-[#383C4B]'>
  <main class='w-full' transition:animate='fade'>
    <Search />
  </main>
</Layout>
