.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 36px;
  top: 20px;
}

.bm-burger-bars {
  background: #DDF2FD;
  border-radius: 4px;
  height: 2px !important;
} 

.bm-menu {
  background: linear-gradient(to bottom, rgba(42, 48, 67, 0.9) 0%, rgba(42, 48, 67, 0.9) 85%, rgba(39, 125, 255, 0.9) 140%);
  padding: 2.5em 1em 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}


.bm-item {
  display: inline-block;
  text-align: center;
  color: #DEEFFF;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 20px; 
  text-transform: uppercase;
}

.bm-cross-button {
  height: 40px;
  width: 40px;
}

.bm-cross {
  background: #DDF2FD;
  border-radius: 4px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
