---
import { DesktopTags } from '../../RecommendedForYou/DesktopTags/DesktopTags'
import { MobileTags } from '../../RecommendedForYou/MobileTags/MobileTags'
---

<div class='w-10/12 mx-auto lg:w-2/3'>
  <div class='flex flex-col justify-center items-center'>
    <div class='text-center'>
      <p class='text-gray-600 text-sm'>Search results for «NFT»</p>
      <h1 class='text-2xl font-bold my-2'>«NFT»</h1>
      <p class='text-gray-500 font-[Montserrat]'>
        <i>
          Related: nftart, cryptoart, rarible, ethereum, crypto art,
          crypto wallet
        </i>
      </p>
    </div>
  </div>
  <div class='mt-10'>
    {/* Hide DesktopTags on small screens and show on lg and larger screens */}
    <div class='hidden lg:block'>
      <DesktopTags searchFlag={true} client:load />
    </div>

    {/* Hide MobileTags on lg and larger screens */}
    <div class='block lg:hidden'>
      <MobileTags searchFlag={true} client:load />
    </div>
  </div>
</div>
