---
import Layout from "../layouts/Layout.astro";
import LatestNews from '@components/blog/LatestNews.astro';
import LatestInBlog from '@components/blog/LatestInBlog.astro';

//import image
import blog_img from '../images/blog_page_img/blog_image.png'

const latest_props = [
    {
        date: 'April 14, 2023',
        title: 'Industry weighs potential of AI-designed watches',
        text: 'Small text about. If you want to find the best time to post on Instagram, you\'re probably trying to...',
        tags: ['Social'],
        image: blog_img
    }
]
---

<html>
<head>
    <title>Blog Page</title>
</head>
<body>
<Layout title="Blog">
    <main class="w-full" transition:animate="slide">
        <LatestNews latest={latest_props} />
        <LatestInBlog />
    </main>
</Layout>
</body>
</html>
