---
import { Image } from 'astro:assets';
import Footer_sections from "../layouts/Footer_sections.astro";
import Section from "../components/footer_sections/Section.astro";

const privacy_props = {
  title: "CROSSNETICS PRIVACY POLICY",
  button: "go back",
  sections: [
    {
      body: `Crossnetics.io (hereinafter referred to as "Crossnetics," or "we," or "us," or "our") provides its services to you through its website located at www.crossnetics.io ("Site") and related services (collectively, such services, including any new features and applications, and the Site, (the "Service(s)"), subject to the following Privacy Policy.

Crossnetics respects your privacy and we acknowledge that you have certain rights related to any personal information we collect from you and we have certain obligations in respect of the same. Crossnetics supports the various international and local privacy laws, and has procedures in place to meet the requirements of those laws. 

This Privacy Policy supports our privacy principles and informs you about our practices for gathering, storing, and using the personal information of individuals who use our website www.crossnetics.io, for use our service. 

We encourage you to review this information so that you may understand how we collect, use, and share your personal information. 

If we change anything important about this Policy (the information we collect, how we use it, or why we use it) we will highlight those changes. If you have questions, please contact at: info@crossnetics.com`,
    },
    {
      title: "1. INFORMATION WE COLLECT",
      body: `1.1. Crossnetics collects, stores, and uses personal data to provide Services. We collect personal data about individuals who use our Websites and Services. 

1.1.1. Your profile information. You give us information when you register on the Site, including your username, password, date of birth (where applicable), email address and/or telephone number, information you disclose in your user profile.

1.1.2. Purchase information. When you make a purchase or payment on or through the Site, we collect information about the purchase or payment transaction, such as payment card information, billing, delivery, and contact information, and items you purchased.

1.1.3. Information in correspondence you send to us, including when you contact us for support or feedback.

1.1.4. Information through surveys, research, promotion, contests, marketing campaigns, challenges, competitions or events conducted or sponsored by us, in which you participate.

1.2. Most of this data is provided by you directly when you contact us, registration on the site, using the service, submit applications, through phone conversations, contact us about our services.

1.3. When you interact with a Crossnetics website, we collect data related to how you interact with that service by, for example, our use of cookies placed on your device.

1.4. We have set out further details below on the types of personal data we collect, store, and use and the reasons we use your personal data.
`
    },
    {
      title: "2. WHY WE USE YOUR INFORMATION",
      body: `2.1. How we use your information.

2.1.1. To fulfill requests for products, services, Service functionality, support and information for internal operations, including troubleshooting, data analysis, testing, research, statistical, and survey purposes and to solicit your feedback.

2.1.2. To provide our shopping features and facilitate the purchase and delivery of products, goods and services, including sharing your information with merchants, payment and transaction fulfillment providers, and other service providers in order to process your orders.

2.1.3. To send promotional materials, including by instant messaging or email, from us or on behalf of our affiliates and trusted third parties.

2.1.4. To improve and develop our Platform and conduct product development.

2.1.5. To measure and understand the effectiveness of the advertisements and other content we serve to you and others, and to deliver advertising, including targeted advertising, to you on the Site.

2.1.6. To support the social functions of the Service.

2.1.7. To help us detect and combat abuse, harmful activity, fraud, spam, and illegal activity of the Service.

2.1.8. To ensure content is presented in the most effective manner for you and your device.

2.1.9. To verify your identity or age.

2.1.10. To communicate with you, including to notify you about changes in our services.

2.1.11. To enforce our Terms of Service, and other conditions and policies.

2.1.12. To establishment, exercise, or defense of legal claims;

2.2. You have given your consent to the relevant processing activity for the purposes of which we have informed you. It is necessary for the use of our Service and compliance with you. Where this is the case, you always have the right to withdraw that consent.

2.3. We will only use your personal information for the purposes for which we collected it, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original purpose. If we need to use your personal information for an unrelated purpose, we will notify you and we will explain the legal basis which allows us to do so.
`
    },
    {
      title: "3. LEGITIMATE INTERESTS",
      body: `3.1. As mentioned above, we can, sometimes, use your personal information where this is necessary for our legitimate interests (or those of a third party). This includes where use of your personal information is necessary to:

3.1.1. ensure our assets are protected, kept confidential, and not used for inappropriate or unlawful purposes;

3.1.2. prevent, detect, or investigate unauthorized use of our systems and ensure we comply with law and our policies;

3.1.3. check you are legally entitled to work, manage performance, discipline;

3.1.4. maintain product development and enhancement, along with effective marketing through analytics and profiling for business intelligence;

3.1.5. deal with disputes and accidents and take legal or other professional advice; 

3.1.6. comply with country’s laws and regulations;

3.1.7. prevent fraud and financial crime; 

3.1.8. and ensure network and information security.

`
    },
    {
      title: "4. RETAINING YOUR INFORMATION",
      body: `We will retain your personal information for as long as is necessary in connection with our Terms service, to provide you with the services requested, or for other necessary purposes such as compliance with a law, regulation, or other legal authority, or as is otherwise permitted to be maintained for other legal purposes, such as audit, security, fraud prevention, or preserving and defending Crossnetics’s legal rights.`
    },
    {
      title: "5. YOUR RIGHTS AND CHOICES",
      body: `We respect your right to access and control your information. The amount of personal information you are required to supply when requesting our services is consistent with Crossnetics’s interests in providing our services to you. Crossnetics complies with applicable data protection laws and regulations.

We process personal data about you for the purposes set out in this Privacy Policy, including to provide services, operate our business, comply with our legal and contract obligations, and fulfill other legitimate interests. In most countries in which Crossnetics has contract with you, the processing of contact, payroll, and benefit information is a contractual or statutory obligation, and failure to provide information to allow processing may restrict your ability.

You may have certain rights in relation to your personal data. The availability of these rights and the ways in which you can use them are set out below.
`
    },
    {
      title: "6. COOKIES",
      body: `We and our service providers and business partners use cookies and other similar technologies (“Cookies”) to automatically collect information, measure and analyze how you use the Service, including which pages you view most often and how you interact with content, enhance your experience using the Service, improve the Service, provide you with advertising, and measure the effectiveness of advertisements and other content. We and our partners also use Cookies to promote the Service on other platforms and websites. Cookies enable the Service to provide certain features and functionality.

We record the number of visitors to the relevant sections of our website and track movement between the sections by means of “cookies.”

We use cookies that identify your browser or device. 
`
    },
    {
      title: "7. HOW WE SHARE YOUR INFORMATION",
      body: `We share your information with the following parties:

7.1. Business Partners

If you choose to register to use the Service using your social network account details (e.g., Tik Tok, Facebook, Twitter, Instagram, Google), you will provide us or allow your social network to provide us with your phone number, email address, username and public profile. We will likewise share certain information with the relevant social network such as your app ID, access token and the referring URL. If you choose to allow a third-party service to access your account, we will share certain information about you with the third party. Depending on the permissions you grant, the third party may be able to obtain your account information and other information you choose to provide.

Where you opt to share content on social media platforms, the video, username and accompanying text will be shared on that platform or, in the case of sharing via instant messaging platforms such as Whatsapp, a link to the content will be shared.

7.2. Our Corporate Group

We may also share your information with other members, subsidiaries, or affiliates of our corporate group, including to provide the Service, to improve and optimise the Service, to prevent illegal use and to support users.

7.3. For Legal Reasons

We will share your information with law enforcement agencies, public authorities or other organisations if legally required to do so, or if such use is reasonably necessary to:

- comply with legal obligation, process or request;

- enforce our Terms of Service and other agreements, policies, and standards, including investigation of any potential violation thereof;

- detect, prevent or otherwise address security, fraud or technical issues; or

- protect the rights, property or safety of us, our users, a third party or the public as required or permitted by law (including exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction).

7.4. Merchants, Payment and Transaction Fulfillment Providers, and Other Service Providers

When you make a purchase through our shopping features, we share the information related to the transaction with the merchant, payment and transaction fulfillment providers, and other service providers. For example, we will share the order items, contact details and delivery information so your order can be processed. These entities may use the information shared in accordance with their privacy policies.

`
    },
    {
      title: "8. HOW LONG WE KEEP YOUR INFORMATION",
      body: `We retain information for as long as necessary to provide the Service and for the other purposes set out in this Privacy Policy. We also retain information when necessary to comply with contractual and legal obligations, when we have a legitimate business interest to do so (such as improving and developing the Service, and enhancing its safety, security and stability), and for the exercise or defence of legal claims.

The retention periods are different depending on different criteria, such as the type of information and the purposes for which we use the information. For example, when we process your information such as your profile information to provide you with the Service, we keep this information for as long as you have an account. If you violate our Terms of Service, or other conditions or policies, we may remove your profile immediately, but may keep other information about you to process the violation.
`
    },
    {
      title: "9. PROTECTING YOUR INFORMATION",
      body: `Crossnetics takes care to secure your personal information.

We regularly monitor industry standards for securing information and review our physical, technical, and organizational security practices in order to determine how best to prevent the loss, misuse, alteration, unauthorized access, destruction, or disclosure of your personal information.

Any personal data sent to us, either in writing or e-mail, may be insecure in transit and we cannot guarantee its delivery.

Passwords must be kept confidential and not disclosed to a third party. Crossnetics does not ask you for your password.
`
    },
    {
      title: "10. HOW TO CONTACT US",
      body: `If you have any questions or comments about this Privacy Policy, please e-mail:`,
      subtext: "info@crossnetics.com",
      italic: "Date of publication: 2023.10.27"
    },
  ]
};
---

<Footer_sections title="Privacy policy">
  <main class="w-full" transition:animate="fade">
    <div class="flex flex-col lg:flex-row w-full lg:w-2/3 gap-16 justify-between items-start">
      <!-- <Image src="/footer_img/privacy.png" class="w-[150px] xl:w-[300px] transform scale-x-[-1]" alt="" width={50} height={50} /> -->
      <Section {...privacy_props}/>   
    </div>
  </main>
</Footer_sections>