---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Introduction from "@components/security/Introduction.astro";
import type { Code, Debug } from "astro:components";

const hero_props = {
  header: "Key Features\nof Safety and Security",
  body: `In an era of rapidly changing technology and market demands, the Crossnetics platform provides a set of innovative tools to effectively engage with the world of digital marketing.`,
  button: "Get started for free",
  gradient: ["#1B76FF", "#49E3B5"],
  hero_image: "/security_img/key-shield.png",
}

const header = "Security Section for Crossnetics Platform"

const introduction_props = {
  introduction: {
    title: "Introduction",
    body: `One of the security parameters of the platform is blockchain technology and Crossnetics runs on the Polygon blockchain\n
Let us tell you why we have chosen this technology to provide security and scalability on our platform and additional security measures.\n
Polygon enhances Ethereum scalability through a layered architecture that increases transaction throughput while minimizing costs. Here are its key technology features:`
  },
  polygon: "Polygon is a multi-faceted platform for Ethereum-compatible blockchains, offering a solution for Ethereum scalability and interoperability.",
  ether: "Benefits: Ethereum compatibility, improved performance and security, opportunity for multiple applications and blockchains.",
  grid: [
    {
      title: "Polygon security framework",
      body: "PoS and Plasma chains: A dual system that provides additional layers of defense against different types of attacks.",
      image: "poly_shield"
    },
    {
      title: "Execution Layer",
      body: "Support for EVM-compatible networks provides flexibility in the execution of smart contracts, allowing Crossnetics to optimize resource allocation and scale their campaigns.",
      image: "ether_sign"
    }
  ]
}

---

<Layout title="Crossnetics security">
  <main class="w-full" transition:animate="initial">
    <Hero {...hero_props} />
      <div class="bg-gradient-to-b from-sky-200 via-sky-100 to-sky-200 flex items-center justify-center">
        <div class="w-11/12 lg:w-2/3 flex flex-col items-start justify-start 2lg:justify-center my-20">
          <h1 class="font-bold text-xl xl:text-3xl leading-tight text-gray-600 mb-10 ml-8">{header}</h1>
          <div class="flex flex-col gap-y-8">
            <Introduction {...introduction_props}  />
      
          </div>
        </div>
      </div>
  </main>
</Layout>