---
import Footer_sections from '../layouts/Footer_sections.astro'
import Section from '../components/footer_sections/Section.astro'

const terms_props = {
  title: 'TERMS OF SERVICE CROSSNETICS',
  button: 'go back',
  sections: [
    {
      body: `Crossnetics.io (hereinafter referred to as "Crossnetics," or "we," or "us," or "our") provides its services (described below) to you through its website located at www.crossnetics.io, app.crossnetics.io ("Site") and related services (collectively, such services, including any new features and applications, and the Site, (the "Service(s)"), subject to the following Terms of Service (as amended from time to time, the "Terms of Service"). We reserve the right, at our sole discretion, to change or modify portions of these Terms of Service at any time without further notice. You should periodically visit this page to review the current Terms of Service so you are aware of any revision to which you are bound. If you do not agree to abide by these or any future Terms of Service, do not use or access (or continue to use or access) the Service. It is your responsibility to regularly check the Site to determine if there have been changes to these Terms of Service and to review such changes.

In addition, when using services, you shall be subject to any additional terms applicable to such services that may be posted on the Service from time to time, including, without limitation, the Privacy Policy located at https://www.crossnetics.io/privacy-policy. 

Violation of any of the terms below will result in the termination of your Account. While Crossnetics prohibits such conduct and content on the Service, you understand and agree that Crossnetics cannot be responsible for the content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.
`,
    },
    {
      title: '1. THE SERVICE',
      body: `1.1. Crossnetics provides a suite of digital tools for marketing, analytics and social media, enhanced by AI and decentralized finance.

1.2. The service is provided on an "as is" and "as available" basis. Your use of the Service is at your sole risk. 
`,
    },
    {
      title: '2. ACCOUNT REGISTRATION',
      body: `2.1. Registration is permitted for persons of legal age in accordance with the laws of your jurisdiction.

2.2. Crossnetics is not responsible for any misreprentation of age. By using this platform, you certify and guarantee that all data provided by you, the user, is truthful and correct.

2.3. Before registration, you must fully read and accept the Privacy Policy.

2.4. You must be a human. Accounts registered by "bots" or other automated methods are not permitted.

2.5. You must provide any required information requested in order to complete the sign up process.

2.6. You are responsible for maintaining the security of your account and password. Crossnetics will not be liable for any loss or damage from your failure to comply with this security obligation. You agree to notify Crossnetics, via written notice, immediately of any unauthorized use of your password or account or any other breach of security. You are responsible for ensuring that you "log out" and exit from your account at the end of each session when accessing the Service. Your account cannot be accessed by anyone who does not have your login credentials, including by Crossnetics. 

2.7. You are responsible for all activity that occurs under your account, including the people you grant access to your account.

2.8. If you use the functionality of the Tik Tok platform using our service, then you agree to read and fully accept the terms of use of the Tik Tok service at https://www.tiktok.com/legal/page/row/terms-of-service/en and Privacy Policy https://www.tiktok.com/legal/page/row/privacy-policy/en. If you do not agree with the rules of the Tik Tok platform, you cannot use our service in terms of functionality related to Tik Tok.
`,
    },
    {
      title: '3. ADVERTISING MARKETPLACE',
      body: `3.1. The Service facilitates a collaborative environment for advertisers and performers, utilizing decentralized financial technologies to ensure transparency and efficiency in advertising campaigns. Users can create orders to buy and sell ads on their social networks.

3.2. Crossnetics is not the creator or distributor of advertising content. In adherence with varying laws and cultures, different countries might have different products and services that are prohibited for advertising. When you use the service, you are required to order and place only advertising that complies with the laws of your jurisdiction and distribution jurisdiction. You are solely responsible for any violation of advertising laws.

3.3. Due to the fact that orders for advertising are placed on third party platforms (e.g., Tik Tok, Facebook, Twitter, Instagram, Google, YouTube) you undertake to independently familiarize yourself with the advertising rules of such platforms and agree to comply with them.

3.4. According to Crossnetics rules, it is prohibited to order the following advertising:

  - adult sexual products, services, and entertainment, pornographic products, pedophilic products;
  - ads promoting gambling-related products/ services including fantasy sports, bingo and virtual gambling games;
  - drugs and paraphernalia ads. Promotion, sale, solicitation of, or facilitation of access to illegal drugs, controlled drugs, prescription drugs. Promotion of or facilitation of access to unauthorized drugstores, pharmacies, or dispensaries. Depiction of or featuring drug use, drug abuse, or prescription drug abuse. Depiction of or featuring drugs-related words, symbols, or images, whether in the form of visual or audio content, or any of such.
  - promotion, sale, solicitation of, or facilitation of access to weapons that could be used to harm individuals or for self-defense
  - ads relating to or encouraging money laundering;
  - advertising that threatens public order or incites the commission of a crime;
  - advertising that insults any other nation;
  - ads of counterfeit and piracy products. Promotion, sale, solicitation of, or facilitation of access to counterfeit products, replicas, and imitations including pirated digital products without authorization of the brand owner or trademark owner - cigarettes and tobacco products;
  - unsuitable businesses, products, or services such as: abortion services, hazardous chemical products, human organ or human tissue trading, transplanting, or any of such. Any other businesses, products, or services that are highly controversial, distasteful, violent, or dangerous
  - advertising which harms minors in any way.

3.5. In case of violation of the rules of clauses 3.2., 3.3., 3.4. We have the right, at our discretion, to suspend your account, delete your account, and terminate any contractual relationship with you. 
`,
    },
    {
      title: '4. FEES AND PAYMENTS',
      body: `4.1. Information about the amount, methods and procedure of payment is posted on the Site.

4.2. Each party is responsible for payment of any taxes in accordance with the relevant authorities and tax laws that apply to respective parties.
`,
    },
    {
      title: '5.RESTRICTIONS AND PROHIBITIONS',
      body: `5.1. If you do not have such authority, or if you do not agree with the terms of this agreement, you must not accept this agreement and may not access and use the Services. By accessing and using the Services, you tacknowledge hat you have read, understood, and agree to be bound by the terms of this Agreement. 

5.2. You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including, but not limited to, copyright laws).

5.3. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written consent of Crossnetics.

5.4. You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Crossnetics, or any other Crossnetics service.

5.5. You must not use or distribution of tools designed for compromising security of the Services.

5.6. You may not use the Services to publish content or engage in activity that is illegal under applicable law, that is harmful to others, or that would subject us to liability, including, without limitation, in connection with any of the following, each of which is prohibited under this Policy:

- Distributing malware or other malicious code.
- Disclosing sensitive personal information about others.
- Collecting, or attempting to collect, personal information about third parties without their knowledge or consent.
- Distributing pornography or adult related content.
- Promoting or facilitating prostitution or any escort services.
- Hosting, distributing or linking to child pornography or content that is harmful to minors.
- Promoting or facilitating gambling, violence, terrorist activities or selling weapons or ammunition.
- Engaging in the unlawful distribution of controlled substances, drug contraband or prescription medications.
- Managing payment aggregators or facilitators such as processing payments on behalf of other businesses or charities.
- Facilitating pyramid schemes or other models intended to seek payments from public actors.
- Threatening harm to persons or property or otherwise harassing behavior.
- Infringing the intellectual property or other proprietary rights of others.
- Facilitating, aiding, or encouraging any of the above activities through the Services.

5.7. Any User in violation of the Services security is subject to criminal and civil liability, as well as immediate account termination. Examples include, but are not limited to the following:

- Use or distribution of tools designed for compromising security of the Services.
- Intentionally or negligently transmitting files containing a computer virus or corrupted data.
- Accessing another network without permission, including to probe or scan for vulnerabilities or breach security or authentication measures.
- Unauthorized scanning or monitoring of data on any network or system without proper authorization of the owner of the system or network.

5.8. You may not consume excessive amounts of the resources of the Services or use the Services in any way which results in performance issues or which interrupts the Services for other Users. Prohibited activities that contribute to excessive use, include without limitation:

- Deliberate attempts to overload the Services and broadcast attacks (i.e. denial of service attacks).
- Engaging in any other activities that degrade the usability and performance of the Services.

5.9 You may not use the Services to send spam or bulk unsolicited messages. We maintain a zero tolerance policy for use of the Services in any manner associated with the transmission, distribution or delivery of any bulk e-mail, including unsolicited bulk or unsolicited commercial e-mail, or the sending, assisting, or commissioning the transmission of commercial e-mail. 

5.10. We value the freedom of expression and encourage Users to be respectful with the content they post. We are not a publisher of User content and are not in a position to investigate the veracity of individual defamation claims or to determine whether certain material, which we may find objectionable, should be censored. However, we reserve the right to moderate, disable or remove any content to prevent harm to others or to us or the Services, as determined in our sole discretion.

5.11. Copyrighted material must not be published via the Services without the explicit permission of the copyright owner or a person explicitly authorized to give such permission by the copyright owner. Upon receipt of a claim for copyright infringement, or a notice of such violation, we will immediately run full investigation and, upon confirmation, will notify the person or persons responsible for publishing it and, in our sole discretion, will remove the infringing material from the Services. We may terminate the Service of Users with repeated copyright infringements. Further procedures may be carried out if necessary. We will assume no liability to any User of the Services for the removal of any such material. If you believe your copyright is being infringed by a person or persons using the Services, please get in touch with us to report copyright infringement.
`,
    },
    {
      title: '6. DISCLAIMER OF WARRANTIES',
      body: `YOUR USE OF THE SERVICE, INCLUDING, WITHOUT LIMITATION, YOUR USE OF ANY CONTENT ACCESSIBLE THROUGH THE SERVICE AND YOUR INTERACTIONS AND DEALINGS WITH ANY SERVICE USERS, IS AT YOUR SOLE RISK. THE SERVICE, AND ALL CONTENT AVAILABLE ON AND THROUGH THE SERVICE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. CROSSNETICS AND ITS SUPPLIERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. CROSSNETICS DOES NOT WARRANT UNINTERRUPTED USE OR OPERATION OF THE SERVICE OR YOUR ACCESS TO ANY CONTENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE SERVICE WILL CREATE ANY WARRANTY REGARDING CROSSNETICS THAT IS NOT EXPRESSLY STATED IN THESE TERMS. SOME JURISDICTIONS MAY PROHIBIT A DISCLAIMER OF WARRANTIES AND YOU MAY HAVE OTHER RIGHTS THAT VARY FROM JURISDICTION TO JURISDICTION.`,
    },
    {
      title: '7. LIMITATION OF LIABILITY',
      body: `NEITHER CROSSNETICS NOR ITS SUPPLIERS OR LICENSORS WILL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES (EVEN IF CROSSNETICS OR ANY SUPPLIER OR LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES), ARISING OUT OF OR RELATING TO YOUR ACCESS TO OR USE OF, OR YOUR INABILITY TO ACCESS OR USE, THE SERVICE OR ANY CONTENT. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU. 

CROSSNETICS SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY MODIFICATION, PRICE CHANGE, SUSPENSION OR DISCONTINUANCE OF THE SERVICE.

THE MAXIMUM TOTAL LIABILITY OF CROSSNETICS AND ITS SUPPLIERS AND LICENSORS TO YOU FOR ALL CLAIMS, WHICH MUST BE ARBITRATED PURSUANT TO SECTION 9, INFRA, UNDER THESE TERMS, WHETHER IN CONTRACT, TORT, OR OTHERWISE, IS $100.00. `,
    },
    {
      title: '8. TRADEMARKS',
      body: `The Crossnetics name and logo are trademarks and service marks of Crossnetics (collectively the "Crossnetics Trademarks"). Other company, product, and service names and logos used and displayed via the Service may be trademarks or service marks of their respective owners who may or may not endorse or be affiliated with or connected to Crossnetics. Nothing in these Terms of Service or the Service should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of Crossnetics Trademarks displayed on the Service, without our prior written permission in each instance. `,
    },
    {
      title: '9. CANCELLATION AND TERMINATION',
      body: `9.1. To cancellation to use the contract service, you need to delete your account on the service. You are solely responsible for properly closing your account. 

9.2. Such termination of the Service will result in the deactivation or deletion of your account or your access to your account, and the forfeiture and relinquishment of all content in your account. Crossnetics reserves the right to refuse service to anyone for any reason at any time.

9.3. Crossnetics does not provide refunds if you cancel your accounts.
`,
    },
    {
      title: '10. CHOICE OF LAW; DISPUTE RESOLUTION',
      body: `All matters relating to your access to and use of the Site, including purchases made on the Site, are governed in all respects by the laws country of location Crossnetics.`,
    },
    {
      title: '11. OTHER TERMS',
      body: `11.1. If any portion of these Terms is deemed unenforceable, that portion will be enforced to the maximum extent possible so as to effect the intent of the parties as reflected by that provision, and the remaining portions of these Terms will be given full effect. Crossnetics will be excused for any failure to perform to the extent that its performance is prevented by any reason outside of its reasonable control. No agency, partnership, joint venture, employment or franchise relationship is intended or created by these Terms. Crossnetics may assign its rights and obligations under these Terms to an entity that acquires all or substantially all of the assets of Crossnetics or to any subsidiary or successor in a merger or acquisition involving Crossnetics. 

11.2. These Terms, the Privacy Policy and the all other agreements posted on the Site constitute the entire agreement between Crossnetics and you with respect to your access to or use of the Site, superseding any prior agreements between you and Crossnetics with respect to your access to or use of the Site (including any prior versions of these Terms).

11.3. You understand, acknowledge and agree that other services and vendors that are connected to the Crossnetics platform in order to conduct our services may from time to time, experience unforseen issues that may affect the performance of the Crossnetics platform/service. Crossnetics and it’s affiliates, employees and other associated parties may not be held liable for such performance issues, including but not limited to Payment for the Crossnetics platform/service

Questions about the Terms of Service, technical support and reporting violations should be sent to:`,
      subtext: 'info@crossnetics.com',
      italic: 'Date of publication: 2023.10.27',
    },
  ],
}
---

<Footer_sections title='Terms of Service'>
  <main class='w-full' transition:animate='fade'>
    <div
      class='flex flex-col lg:flex-row w-full lg:w-2/3 gap-16 justify-between items-start'
    >
      <Section {...terms_props} />
    </div>
  </main>
</Footer_sections>
