---
// components
import { Fragment } from 'react'
import ResultSearch from './ResultSearch/ResultSearch.astro'
import BlogItemSkeleton from '../LatestBlog/BlogItemSkeleton'

// data
const latestPosts = [
  {
    id: 1,
    date: 'April 14, 2023',
    title:
      "Here's What You Need to Know About YouTube's New Shorts Creation Tools.",
    text: "YouTube's response to the short-form video trend has taken the shape of a powerful contender: YouTube Shorts. As the popularity of platforms like TikTok continues...",
    tags: ['Influencing'],
    likes: 12,
    image: '/facebook_banner.png',
  },
]

// для сокрщения повторения кода при выводе карточек
const rows = Array.from({ length: 20 }, () => latestPosts)
---

<Fragment>
  <div class='mt-14 p-4 h-[133px] bg-[#F1F8FF] flex items-center'>
    <div
      class='bg-[#DEEFFF] w-10/12 lg:w-4/12 mx-auto py-5 px-10 rounded-3xl relative top-16'
    >
      <div
        class='bg-white text-slate-300 drop-shadow-searchBlogBar capitalize font-semibold p-4 rounded-2xl text-xs flex items-center max-w-full mx-auto justify-between'
      >
        <label class="w-full">
          <input
            type='text'
            placeholder='Search'
            class='w-full text-gray-600 bg-white focus:outline-none placeholder-gray-400'
          />
        </label>
        <svg
          width='25'
          height='18'
          viewBox='0 0 17 16'
          fill='#BEC7E1'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M11.9654 10.532L14.9654 13.532C15.232 13.7987 15.232 14.1987 14.9654 14.4654C14.832 14.5987 14.632 14.6654 14.4987 14.6654C14.3654 14.6654 14.1654 14.5987 14.032 14.4654L11.032 11.4654C10.032 12.1987 8.83203 12.6654 7.4987 12.6654C4.36536 12.6654 1.83203 10.132 1.83203 6.9987C1.83203 3.86536 4.36536 1.33203 7.4987 1.33203C10.632 1.33203 13.1654 3.86536 13.1654 6.9987C13.1654 8.33203 12.6987 9.5987 11.9654 10.532ZM7.49874 2.66406C5.09874 2.66406 3.16541 4.5974 3.16541 6.9974C3.16541 9.3974 5.09874 11.3307 7.49874 11.3307C8.69874 11.3307 9.76541 10.8641 10.5654 10.0641C11.3654 9.26406 11.8321 8.1974 11.8321 6.9974C11.8321 4.5974 9.89874 2.66406 7.49874 2.66406Z'
            fill='#CBD5E1'></path>
          <mask
            id='mask0_966_14457'
            mask-type='luminance'
            maskUnits='userSpaceOnUse'
            x='1'
            y='1'
            width='15'
            height='14'
          >
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M11.9654 10.532L14.9654 13.532C15.232 13.7987 15.232 14.1987 14.9654 14.4654C14.832 14.5987 14.632 14.6654 14.4987 14.6654C14.3654 14.6654 14.1654 14.5987 14.032 14.4654L11.032 11.4654C10.032 12.1987 8.83203 12.6654 7.4987 12.6654C4.36536 12.6654 1.83203 10.132 1.83203 6.9987C1.83203 3.86536 4.36536 1.33203 7.4987 1.33203C10.632 1.33203 13.1654 3.86536 13.1654 6.9987C13.1654 8.33203 12.6987 9.5987 11.9654 10.532ZM7.49874 2.66406C5.09874 2.66406 3.16541 4.5974 3.16541 6.9974C3.16541 9.3974 5.09874 11.3307 7.49874 11.3307C8.69874 11.3307 9.76541 10.8641 10.5654 10.0641C11.3654 9.26406 11.8321 8.1974 11.8321 6.9974C11.8321 4.5974 9.89874 2.66406 7.49874 2.66406Z'
              fill='#BEC7E1'></path>
          </mask>
          <g mask='url(#mask0_966_14457)'>
            <rect x='0.5' width='16' height='16' fill='#BEC7E1'
            ></rect>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class='bg-white pt-14'>
    <div class='mt-14'>
      <ResultSearch />
    </div>
    <div class='m-auto w-10/12 lg:w-2/3'>
      <div
        class='grid grid-cols-1 mt-14 lg:grid-cols-2 gap-5 2lg:grid-cols-3'
      >
        {
          Array.from({ length: 21 }, () => latestPosts[0]).map(
            (post, index) => (
              <BlogItemSkeleton
                key={index}
                post={post}
                vertical={true}
                height='200px'
                rounded='20px'
                client:load
                class='max-w-xs'
              />
            )
          )
        }
      </div>
    </div>
  </div>
</Fragment>
