---
interface Props {
  description: string;
}

const { description } = Astro.props;
---

<div class="bg-gradient-to-b from-sky-200 to-sky-100 h-[406px] flex items-center justify-center">
  <div class="w-11/12 lg:w-2/3 flex items-center justify-start 2lg:justify-center">
    <p class="text-start 2lg:text-center text-blue-500 text-2xl xl:text-3xl 2xl:text-4xl font-bold w-full 2lg:w-4/5">{description}</p>
  </div>
</div>