---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";

const hero_text = {
  header: "Wellcome \n to Crossnetics!",
  body: "A unique platform with a suite of digital tools for marketing, analytics and social media, enhanced by AI and decentralized finance.",
  button: "start free analysis ",
}
---

<Layout title="Welcome to Crossnetics.">
  <main>
    <Hero {...hero_text} />
  </main>
</Layout>